@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik+Mono+One&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*=col-] {
  float: left;
  padding: 1em;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik Mono One", sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1em;
}

h3 {
  font-size: 0.75em;
  font-weight: 300;
}

p,
li,
button,
a {
  font-family: "Roboto Mono", monospace;
  font-size: 0.75em;
}

body,
nav,
ul,
.navlist,
.container,
.linkList,
.toggleMenu,
.recent-work-container,
.socmed-item,
#root {
  display: flex;
}

#root {
  max-width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(75deg, #d3d3d3, #515d61);
}

nav {
  background-color: hsla(0, 0%, 100%, 0.3);
  -webkit-backdrop-filter: blur(0.3em);
          backdrop-filter: blur(0.3em);
  width: 20%;
  min-height: 2em;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  padding: 0.5em 0.2em;
  margin-top: 1em;
  border-radius: 0.5em;
  flex-direction: column;
  z-index: 2;
}
nav .Link {
  background-color: transparent;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .toggleMenu {
  width: 100%;
  align-items: center;
  justify-content: center;
}
nav .linkList {
  width: 100%;
  flex-direction: column;
  display: none;
  text-align: center;
}
nav .linkList.expanded {
  display: block;
  display: flex;
}

.container-child {
  margin: 1em 0;
}

.container.jumbotron {
  height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container.jumbotron a {
  margin-top: 1em;
}

.container.about-me {
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}
.container.about-me .paragraph {
  margin-top: 0;
}
.container.about-me .paragraph p {
  text-align: center;
}
.container.about-me ul {
  flex-direction: column;
}
.container.about-me ul li {
  list-style: none;
  margin: 0.2em 0;
}

.container.recent-work {
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.container.recent-work .recent-work-container {
  width: 80%;
  min-height: 10em;
  flex-direction: column;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  grid-gap: 0.5em;
}
.container.recent-work .recent-work-container .recent-work-child {
  width: 100%;
  height: 100%;
  border-radius: 1em;
  overflow: hidden;
}
.container.recent-work .recent-work-container .recent-work-child img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.05);
}
.container.recent-work .recent-work-container .recent-work-child:first-child {
  margin-top: 0;
}

.container.footer {
  text-align: center;
  flex-direction: column;
}
.container.footer .socmed-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5em;
  align-items: center;
  justify-content: center;
}
.container.footer .socmed-container .socmed-item {
  font-size: 2em;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  padding: 0.15em 0;
  cursor: pointer;
}

a {
  padding: 0.5em 1em;
  background-color: hsla(0, 0%, 100%, 0.3);
  border-radius: 0.5em;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

[class*=col-] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 2em;
  }
  p,
  a,
  button,
  li {
    font-size: 1em;
  }
  body nav {
    width: 70%;
  }
  body nav .toggleMenu {
    display: none;
  }
  body .linkList {
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  body .container.about-me {
    align-items: center;
    justify-content: center;
  }
  body .container.about-me .about-me-body {
    flex-direction: column;
    align-items: center;
    padding: 0 10em;
  }
  body .container.recent-work .recent-work-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    grid-gap: 1em;
  }
  body .container.recent-work .recent-work-container .recent-work-child Link {
    display: none;
  }
  body .container.recent-work .recent-work-container .recent-work-child img {
    transform: scale(1.01);
    -o-object-fit: cover;
       object-fit: cover;
  }
  body .container.recent-work .recent-work-container .recent-work-child:nth-child(2) img {
    transform: scale(1.1);
  }
  body .container.recent-work .recent-work-container .recent-work-child:last-child img {
    transform: scale(1.12);
  }
  body .container.footer .socmed-container {
    grid-template-columns: repeat(3, 4em);
  }
}/*# sourceMappingURL=App.css.map */